<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="static/styles/style.css"></link>
</head>
<body>
    <div align="center">
        <div align="center" class="border">
            <div class="header">
                <h1 class="word">Register</h1>
            </div>
            <h2 class="word">
                <form action="/register" method="POST">
                    <div class="msg">{{msg}}</div>
                    <input id="username" type="text" placeholder="Provide your Username" class="textbox"/></br></br>
                    <input id="password" type="password" placeholder="Provide your Password" class="textbox"/></br></br>
                    <input id="email" name="email" type="text" placeholder="Provide your Email" class="textbox"/></br></br>
                    <input type="submit" value="Sign Up" class="btn"/></br></br>
                </form>
            </h2>
            <p class="bottom">Do have an Account? <a class="bottom" href="/login">Sign back in here</a></p>
        </div>
    </div>
</body>
</html>